target/
.idea/
.idea/workspace.xml
*.iml
.idea-backup/
mips-emulator-backup.iml
src/main/java/test/
src/test/TestProjects/Rubik's/imem.mem
src/test/TestProjects/Rubik's/dmem.mem
src/test/project_example
.attach*
